# Maven y compilación
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar

# Java
*.class
*.log

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse 
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
.apt_generated

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Gradle
build/

# Visual Studio Code
.vscode/

# Node.js y Husky
node_modules/

# Variables de entorno y configuraciones locales
.env
*.env
application-local.properties
application-local.yml

# Archivos del sistema
.DS_Store
Thumbs.db
